[Unit]
Description=HPFT vport class meter (DEVX QUERY_VPORT_COUNTER -> /dev/shm/hpft_vpm)
After=network.target

[Service]
ExecStart=/opt/hpft/vport_meter mlx5_1 /dev/shm/hpft_vpm 1,2,3,4,5,6,7,8 1
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
